<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gestão de Aulas</title>
</head>
<body>
    <h1>Painel da Escola</h1>
    <h2>Alunos Matriculados</h2>
    
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Cidade</th>
        </tr>
        
        <!-- Motor Jinja2: Repete este bloco para cada aluno -->
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno[0] }}</td>
            <td>{{ aluno[1] }}</td>
            <td>{{ aluno[2] }}</td>
            <td>{{ aluno[3] }}</td>
        </tr>
        {% endfor %}
        <!-- Fim da repetição -->


    </table>
</body>
</html>
